parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    # Suppress warnings about defensive programming and test practices
    ignoreErrors:
        - '#Call to function method_exists\(\) with .* will always evaluate to true#'
        - '#Call to method .*::assertNotNull\(\) with .* will always evaluate to true#'
